<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery Result</title>
</head>
<body>
<h1>Lottery Result</h1>
<p>Winning numbers: <span th:text="${winningNumbers}"></span></p>
<p>Sorted winning numbers: <span th:text="${sortedWinningNumbers}"></span></p>

<br>
<br>

<p>Zagrajmy w grę</p>
<p>Podaj 6 liczb, od 1 do 49</p>

<!--<form th:action="@{/lottery}" th:object="${numbersForm}" th:method="POST">-->
<form th:action="@{/lottery}" th:method="POST">
    <label for="number1">Pierwsza liczba:</label>
    <input type="number" id="number1" name="number1">
    <label for="number2">Druga liczba:</label>
    <input type="number" id="number2" name="number2">
    <label for="number3">Trzecia liczba:</label>
    <input type="number" id="number3" name="number3">
    <label for="number4">Czwarta liczba:</label>
    <input type="number" id="number4" name="number4">
    <label for="number5">Piąta liczba:</label>
    <input type="number" id="number5" name="number5">
    <label for="number6">Szósta liczba:</label>
    <input type="number" id="number6" name="number6">

    <button type="submit">Zatwierdź</button>
</form>

</body>
</html>
